<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="YT_UI_WORK/YT_UI_WORK/fragment :: css-and-scripts"></head>
<body id="kt_app_body" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <!-- Include Header and Sidebar -->
    

    <!-- Main Content -->
    

    <!-- Include Scripts -->
	<div th:replace="YT_UI_WORK/YT_UI_WORK/fragment :: fullContent"></div>
	
	<div th:replace="YT_UI_WORK/YT_UI_WORK/fragment :: scripts"></div>


</body>
</html>
